# Lecture 11 : Joins #

In [ ]:
import warnings
warnings.simplefilter('ignore', FutureWarning)
from IPython.core.display import HTML
HTML('''<link href='http://fonts.googleapis.com/css?family=Lora:400,700,400i,700i' rel='stylesheet'><link href='https://fonts.googleapis.com/css?family=Lato:300,400,700,300i,400i,700i' rel='stylesheet'><link href='https://fonts.googleapis.com/css?family=Inconsolata:400' rel='stylesheet'><link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css"><style>h1, h2, h3, h4, h5 { font-family: 'Lato', sans-serif; } h5 { font-style: normal; } kbd { font-family: Lato, serif; } hr { border-width: 2px; border-color: #a9a9a9; } .cite { font-size: 85%; text-align: right; margin-top: 10px; } .note { font-family: Lora, serif; font-size: 10pt; font-weight: 400; margin-top: 0; margin-bottom: 0; } h5.prehead { font-family: Lato, serif; font-style: normal; font-size: 14pt; font-weight: 300; margin-bottom: 15px; margin-top: 30px; } h5.lesson { font-family: Lato, serif; font-weight: 400; font-size: 15pt; font-style: normal; margin-top: 0px; margin-bottom: 5px; } h1.lesson_title { font-family: Lato, serif; font-weight: 300; font-size: 32pt; line-height: 110%; color:#CD2305; margin-top: 0px; margin-bottom: 15px; } div.cell{ max-width: 1120px; margin-left: auto; margin-right: auto; } div.text_cell_render { font-family: Lora, serif; line-height: 160%; font-size: 13pt; } .rendered_html pre, .rendered_html code  { font-family: Inconsolata, monospace !important; font-size: 13pt; } div.CodeMirror, div.output_area pre, div.prompt { font-family: Inconsolata, monospace !important; font-size: 125%; } .rendered_html ul li { margin-top: 0.75em; margin-bottom: 0.75em; } .rendered_html ul li ul li { margin-top: 0.5em; margin-bottom: 0.5em; } .rred { color: #a00000; } </style> <script> MathJax.Hub.Config({ TeX: { extensions: ["AMSmath.js"] }, tex2jax: { inlineMath: [ ['$','$'], ["\\(","\\)"] ], displayMath: [ ['$$','$$'], ["\\[","\\]"] ] }, displayAlign: 'center', // Change this to 'center' to center equations. "HTML-CSS": { styles: {'.MathJax_Display': {"margin": "0.75em 0"}} } }); </script>''')

Before we start, please make sure you've loaded the lecture notebook so you can work along.

We'll start by running the cell below to set up our notebook.

In [ ]:
from datascience import *
import numpy as np

%matplotlib inline
import matplotlib.pyplot as plots
plots.style.use('fivethirtyeight')

<font color='green'> </font>

## Lists

In [ ]:
#Create a list with different data types

simple_list =  ['hello', 7, 3.14, True]
simple_list

In [ ]:
# Make a nested list
nested_list= [['a','b','c'], [1,2,3,4]]
nested_list

In [ ]:
# Build a table using a list containing column data 

Table().with_columns('Numbers', [1, 2, 3])

In [ ]:
# Build a table using a list for column labels

drinks = Table(['Drink', 'Cafe', 'Price'])
drinks

In [ ]:
#Add on to a table by adding rows, 
# using the `.with_rows` method

drinks = drinks.with_rows([
    ['Milk Tea', 'Kung Fu', 4.00],
    ['Espresso', 'Starbucks',  1.95],
    ['Latte',    'Starbucks',  2.95],
    ['Espresso', "WFM",   3.65]
]
)
drinks

<font color='green'> </font>

## Grouping by one column

<font color='green'> </font>

In [ ]:
# Load the file 'skyscrapers.csv' as a table; 
# use name 'skyscrapers'

skyscrapers =  Table.read_table('skyscrapers.csv')
skyscrapers

In [ ]:
# Group 'skyscrapers' by 'city' column

skyscrapers.group('city')

In [ ]:
# Group 'skyscrapers' by 'city' column; 
# take average of all numerical rows.
skyscrapers.group('city', np.average)

In [ ]:
# Group 'skyscrapers' by 'city' column;  
# select only numerical columns,
# take average of all of those columns.


skyscrapers.select('city', 'height', 'completed') \
                   .group('city', np.average)

## Grouping by one column: A summary

The **group** method aggregates all rows with the same value for a column into a single row in the resulting table.

* First argument:      Which column to group by
* Second argument:     (Optional) How to combine values.  For example, we can use...
    * len - number of grouped values (this is the default)
    * list - list of all grouped values
    * sum - total of all grouped values

## Cross-classification: grouping by two columns

In [ ]:
# Group skyscrapers by two columns: 'material' and 'city'
# sort by 'city'

skyscrapers.group(['material', 'city']).sort('city').show(20)

In [ ]:
# Use .pivot to group `skyscrapers` by columns `city`, `material`
skyscrapers.pivot('city', 'material')

In [ ]:
skyscrapers.pivot('city', 'material', 'height', np.average)

## Challenge Question ##

In [ ]:
# Let's begin by adding on a column to our 
# 'skyscrapers' table that gives the age of each
# skyscraper.  Then we will drop the 'completed' 
# column.
skyscrapers = (skyscrapers.with_column('age', 2021\
                        - skyscrapers.column('completed'))
          .drop('completed'))
skyscrapers.show(3)

1. **For each city, what’s the tallest building for each material?**

In [ ]:
# First method: use .group on 'city' 
# and 'material' columns...
skyscrapers.select('city', 'material', 'height')\
  .group(['city', 'material'], max)

In [ ]:
# Second method: use .pivot using 'material' 
# and 'city' columns...

skyscrapers.select('material', 'city', 'height')\
   .pivot('material', 'city', 'height', max).show(15)

2. For each city, what’s the height difference 
between the tallest steel building and the 
tallest concrete building?

In [ ]:
# Define a new table, 'sky2', that selects only
# columns 'city' 'material'. and 'height'.  Use
# max function on this pivot table.

sky2=skyscrapers.select('material', 'city', 'height')\
.pivot('material', 'city', 'height', max)

In [ ]:
# Add a column to `sky2` that lists the 
# difference of `steel` and `concrete` 
# heights for each row; call this column 'diff'.

sky2=sky2.with_column('diff', abs(sky2.column('steel')\
                                  - sky2.column('concrete')) )
sky2.sort('diff', descending=True)

<font color='green'> </font>

### Take-home question: try it here!

<font color='green'> </font>

3. **Generate a table of the names of the oldest buildings for each material for each city.**

<font color='green'> </font>

## Joins ##

In [ ]:
cones=Table.read_table('cones.csv')
cones=cones.take(0,1,5).with_rows([['green tea', 'green', \
                       5.00], ['vanilla', 'white', 2.75]])
cones

In [ ]:
calories=Table().with_columns('Variety', \
                    make_array('strawberry', 
                    'chocolate', 'bubblegum', \
                    'green tea', 'vanilla'),\
                    'Calories', make_array(300, \
                     285, 350, 200, 270))
calories

<font color='green'>
</font>

In [ ]:
# Use .join method to merge the 'calories' 
# table with the 'cones' table
cones.join('Flavor', calories, 'Variety')

In [ ]:
# Display the 'drinks' table
drinks

<font color='green'> </font>

In [ ]:
# Create table of coupons

discounts = Table().with_columns(
    'Coupon % off', make_array(10, 25, 5, 20),
    'Location', make_array('Kung Fu', 'Starbucks', 'Starbucks', 'Kung Fu')
)
discounts

<font color='green'> </font>

In [ ]:
# Combine 'drinks' table with 'discounts'
# table using the '.join' method

combined = drinks.join('Cafe', discounts, 'Location')
combined

In [ ]:
# Add a column to 'combined' which lists the discounted
# price for any drink at either cafe.

# First, create an array called 'discounted_frac'.  When 
# we multiply a price by a number in this column, we will
# obtain the reduced price paid.

discounted_frac = 1 - combined.column('Coupon % off') / 100

# Next, add 'discounted_frac' onto the 'combined' table

combined.with_column(
    'Discounted Price', 
    combined.column('Price') * discounted_frac
)