In [2]:
import warnings
warnings.simplefilter('ignore', FutureWarning)
from IPython.core.display import HTML
HTML('''<link href='http://fonts.googleapis.com/css?family=Lora:400,700,400i,700i' rel='stylesheet'><link href='https://fonts.googleapis.com/css?family=Lato:300,400,700,300i,400i,700i' rel='stylesheet'><link href='https://fonts.googleapis.com/css?family=Inconsolata:400' rel='stylesheet'><link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css"><style>h1, h2, h3, h4, h5 { font-family: 'Lato', sans-serif; } h5 { font-style: normal; } kbd { font-family: Lato, serif; } hr { border-width: 2px; border-color: #a9a9a9; } .cite { font-size: 85%; text-align: right; margin-top: 10px; } .note { font-family: Lora, serif; font-size: 10pt; font-weight: 400; margin-top: 0; margin-bottom: 0; } h5.prehead { font-family: Lato, serif; font-style: normal; font-size: 14pt; font-weight: 300; margin-bottom: 15px; margin-top: 30px; } h5.lesson { font-family: Lato, serif; font-weight: 400; font-size: 15pt; font-style: normal; margin-top: 0px; margin-bottom: 5px; } h1.lesson_title { font-family: Lato, serif; font-weight: 300; font-size: 32pt; line-height: 110%; color:#CD2305; margin-top: 0px; margin-bottom: 15px; } div.cell{ max-width: 1120px; margin-left: auto; margin-right: auto; } div.text_cell_render { font-family: Lora, serif; line-height: 160%; font-size: 13pt; } .rendered_html pre, .rendered_html code  { font-family: Inconsolata, monospace !important; font-size: 13pt; } div.CodeMirror, div.output_area pre, div.prompt { font-family: Inconsolata, monospace !important; font-size: 125%; } .rendered_html ul li { margin-top: 0.75em; margin-bottom: 0.75em; } .rendered_html ul li ul li { margin-top: 0.5em; margin-bottom: 0.5em; } .rred { color: #a00000; } </style> <script> MathJax.Hub.Config({ TeX: { extensions: ["AMSmath.js"] }, tex2jax: { inlineMath: [ ['$','$'], ["\\(","\\)"] ], displayMath: [ ['$$','$$'], ["\\[","\\]"] ] }, displayAlign: 'center', // Change this to 'center' to center equations. "HTML-CSS": { styles: {'.MathJax_Display': {"margin": "0.75em 0"}} } }); </script>''')

In [7]:
from datascience import *
import numpy as np

%matplotlib inline
import matplotlib.pyplot as plots
plots.style.use('fivethirtyeight')

## Lecture 6

## Table Review

In [8]:
x=make_array(1,2,3)

In [9]:
x.min()

1

### Table methods:

* Creating and extending tables:
    * `Table( ).with_column` and `Table.read_table`
* Finding size of table: `table.num_rows` and `table.num_columns`
* Accessing data in a column:
    * `table.column()` takes a label or index and returns an array
* How do we refer to columns?  Use column names or indices
    * Column indices start at 0
* Using array methods to work with data in columns:
    * `array.item()`, `array.sum()`, `array.min()`, `array.max()`, and others 
* Creating *new* tables containing some of the original columns:
    * `table.select( )`, `table.drop()`
* Manipulating rows of a table:
    * `table.sort(column)` sorts rows in increasing order, according to values in column
    * `table.sort(column, descending=True)` sorts rows, with entries in column in decreasing order
    * `table.take(row_numbers)` keeps only the rows with specified numbers.  Rows have indices, starting at 0
    * `table.where(column, are.condition)` keeps all rows for which a column's value satisfies given condition
    * `table.where(column, value)` keeps all rows for which a column's value equals some particular value (does same thing as `table.where(column, are.equal_to(a=value))` )

<font color='green'> </font>

## Discussion Question: NBA Salaries

Here are a few questions for you to try before we continue.  The table `nba`, which we've seen before, has columns `PLAYER`, `POSITION`, AND `SALARY`.  We're going to load that table, but to make it just a little easier to work with, we'll drop the `TEAM` column and rename the `'15-'16 SALARY` column:

In [14]:
nba = Table.read_table('nba_salaries.csv')
nba = nba.relabeled(3, 'SALARY').drop('TEAM')
nba.show(3)

**Question 1:** Create an **array** containing the names of all point guards (players whose `POSITION` IS `PG`) who make more than $15M/year.

In [15]:
guards = nba.where('POSITION', 'PG')

In [17]:
guards.where('SALARY', are.above(15)).column('PLAYER')

array(['Derrick Rose', 'Kyrie Irving', 'Chris Paul', 'Russell Westbrook',
       'John Wall'], dtype='<U24')

**Question 2:** After evaluating the two expressions below, what's the result of the second one?

In [18]:
nba.drop('POSITION')
nba.num_columns

3

## Types of Attributes ##
All values in a column of a table should be of the same type, *and* comparable to each other in some way.

* Numerical - Each value is from a numerical scale
    * Numerical measurements are ordered

* Values are from a fixed inventory
    * May or may not have ordering
    
Values of a categorical attribute might not be numerical, even if the values are numbers.  
* For example, a person's ZIP code is a categorical variable, but these numbers don't measure any meaningful quantity. 
* It doesn't make sense to perform arithmetic on these numerical categorical variables.

## Census ##

In [21]:
full = Table.read_table('nc-est2014-agesex-res.csv')
full.show(15)

In [22]:
full.where('AGE', are.equal_to(1))

SEX  | AGE  | CENSUS2010POP | ESTIMATESBASE2010 | POPESTIMATE2010 | POPESTIMATE2011 | POPESTIMATE2012 | POPESTIMATE2013 | POPESTIMATE2014
0    | 1    | 3978070       | 3978090           | 3957888         | 3966510         | 3978006         | 3943077         | 3962123
1    | 1    | 2030853       | 2030861           | 2020332         | 2025493         | 2035380         | 2015352         | 2023253
2    | 1    | 1947217       | 1947229           | 1937556         | 1941017         | 1942626         | 1927725         | 1938870

<font color='green'> </font>

## Census Table Description ##

* Values have column-independent interpretations
    * the `SEX` column: 1 is *Male*, 2 is *Female*
* In this table, some rows are sums of other rows
    * In the `SEX` column, 0 is the *Total* (of *Male* + *Female*)
    * In the `AGE` column, 999 is the *total* of all ages

So values in a column have the same data type, but are not necessarily comparable (for example, AGE 12 vs AGE 999)

<font color='green'> </font>

In [ ]:
partial = full.select('SEX', 'AGE', 'CENSUS2010POP', 'POPESTIMATE2014')
partial.show(4)

In [ ]:
simple = partial.relabeled(2, '2010').relabeled(3, '2014')
simple.show(4)

In [ ]:
simple.sort('AGE')

In [ ]:
simple.sort('AGE', descending=True)

## Visualization ##

In [ ]:
no_999 = simple.where('AGE', are.below(999))

In [ ]:
everyone = no_999.where('SEX', 0).drop('SEX')

In [ ]:
everyone

In [ ]:
everyone.plot('AGE', '2010')