# Lecture 5: Ranges and More on Tables

In [ ]:
from datascience import *
import numpy as np

<font color='green'>  </font>

# Let's review Arrays...

In [ ]:
weights = make_array(120, 95, 165, 180, 177)
weights

In [ ]:
weights*2

In [ ]:
weights/10

In [ ]:
weights+5

In [ ]:
sum(weights)

In [ ]:
A=make_array(1, 3, 5)
B=make_array(2, 4, 6)

In [ ]:
A+B

In [ ]:
A/B

In [ ]:
len(weights)

In [ ]:
len(A)

In [ ]:
sum(weights)/len(weights)

In [ ]:
np.average(weights)

In [ ]:
weights.mean()

In [ ]:
strings_array=make_array('snow', 'snow man', 'winter')
strings_array

In [ ]:
strings_array *3

In [ ]:
weights.item(3)

In [ ]:
weights.item(2)

In [ ]:
weights.item(0)

## Ranges ##

<font color='green'>  </font>

In [ ]:
make_array(0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10)

<font color='green'>  </font>

In [ ]:
np.arange(11)

In [ ]:
np.arange(3, 16) # starting at 3

In [ ]:
np.arange(0, 12, 2)

In [ ]:
np.arange(0, 13, 3)

In [ ]:
np.arange(0, 1, 0.2)

In [ ]:
np.arange(0, 1.1, 0.2)

In [ ]:
a=np.arange(15)

In [ ]:
a

## Creating a Table from Scratch ##

In [ ]:
Table() # empty table

In [ ]:
Table().with_columns('flower', make_array('lotus', 'sunflower', 'poppy'))

In [ ]:
Table().with_columns('flower', make_array('lotus', 'sunflower', 'poppy'), 'Number of petals', make_array(8, 34, 5))

In [ ]:
flowers=Table().with_columns('flower', make_array('lotus', 'sunflower', 'poppy'), 'Number of petals', make_array(8, 34, 5))
flowers

In [ ]:
flowers.with_columns('Color', make_array('pink', 'yellow', 'orange'))

In [ ]:
flowers

In [ ]:
flowers.labels

In [ ]:
flowers.num_columns

In [ ]:
flowers.num_rows

In [ ]:
#modes_of_transportation:walk, bicycle, tricycle, Tesla
#number of wheels per item

In [ ]:
Table()

In [ ]:
modes_vs_wheels=Table().with_column('modes of transportation', make_array('walking', 'unicycle','bicycle', 'tricycle', 'Tesla') )
modes_vs_wheels

In [ ]:
modes_vs_wheels.with_columns('wheels',np.arange(5))

## Reading a Table from a File  ##


    
    Example of .csv file: 
    
    Flavor,Color,Price  
    strawberry,pink,3.55  
    chocolate,light brown,4.75  
    chocolate,dark brown,5.25  
    strawberry,pink,5.25  
    chocolate,dark brown,5.25  
    bubblegum,pink,4.75

In [ ]:
#use the .read_table method to import .csv file into our Jupyter notebook

<img src="du_bois_data.jpg"/>

<font color='green'>           </font>

<font color='green'>   </font>

In [ ]:
du_bois = Table.read_table('du_bois.csv')
du_bois

### Question: Which group ("CLASS") spent the highest percentage on taxes?

In [ ]:
du_bois.sort('TAXES', descending=True)

In [ ]:
du_bois.sort('TAXES', descending=True).column('CLASS')

In [ ]:
du_bois.sort('TAXES', descending=True).column('CLASS').item(0)