# Homework 03: Table Manipulation and Visualization

**Reading**: 

* [Visualization](https://inferentialthinking.com/chapters/07/Visualization.html)


This is the **third** of 12 homework assignments you'll complete in this course.  The homework assignments provide you with more opportunity to practice the skills we've learned in lecture. You should complete Lab 3 before you begin this homework assignment.  This homework assignment is due by **11:59pm, September 20, 2021**. 

Start early so that you can ask for assistance if you're stuck. If you remain stuck on a question, please reach out to me, or post your questions on the course Question Board in Canvas. Feel free to start a new thread for your question, or check there to see if someone else has done so already. I encourage everyone to participate by offering their own explanations, and I'll do the same. But be sure to refrain from directly posting or sharing answers. It's important for everyone to arrive at their own answers.

For all problems that you must write out explanations and sentences for, you **must** provide your answer in the designated space.  Moreover, throughout this homework and all future ones, please be sure to not re-assign variables throughout the notebook!  For example, if you use `max_temperature` in your anbswer to one question, do not reassign it later on.

You will submit this assignment by uploading your completed Jupyter notebook to Canvas.  All files will have a LASTNAME as part of their name.  So before you continue, rename your file so that your last name replaces LASTNAME.  Type your last name in ALL CAPS.  For example, this downloaded file has the name 

`HW 01-FA2021-LASTNAME.ipynb`

If your last name is Peralta, change the file name to 

`HW 01-FA2021-PERALTA.ipynb`
 

Next, fill in the cell below with your student ID number replacing the `...`  Your cell should look like: `IDs = [3141593]`.   Then click the "run cell" button at the top that looks like â–¶| or hold down `shift` + `return`.

Please use the passcode **basis** for my [office hours](https://aacc-edu.zoom.us/j/92542256939?pwd=cGsveTlHdW9EWGVDUTJuT0dHc0pjdz09) on Mondays and Wednesdays,10am-12pm and 8:45pm-9:45pm.

Throughout this homework and all future ones, please be sure to not re-assign variables throughout the notebook! For example, if you use `max_temperature` in your answer to one question, do not reassign it later on. Moreover, please be sure to only put your written answers in the cells provided.

In [3]:
global IDs # leave this line alone
IDs = [...] # replace ... with your student ID number

Before you begin, execute the following cell to load required modules.

In [4]:
# just run this cell without changing it
from datascience import *
import numpy as np

import warnings
warnings.simplefilter('ignore', FutureWarning)

%matplotlib inline
import matplotlib.pyplot as plots
plots.style.use('fivethirtyeight')

## 1. Unemployment

The Federal Reserve Bank of St. Louis publishes data about jobs in the US.  Below, we've loaded data on unemployment in the United States. There are many ways of defining unemployment, and our dataset includes two notions of the unemployment rate:

1. Among people who are able to work and are looking for a full-time job, the percentage who can't find a job.  This is called the Non-Employment Index, or NEI.
2. Among people who are able to work and are looking for a full-time job, the percentage who can't find any job *or* are only working at a part-time job.  The latter group is called "Part-Time for Economic Reasons", so the acronym for this index is NEI-PTER.  (Economists are great at marketing.)

The source of the data is [here](https://fred.stlouisfed.org/categories/33509).

**Question 1. (1 pt)** The data are in a CSV file called `unemployment.csv`.  Load that file into a table called `unemployment` and display the resulting table.

In [ ]:
unemployment = ...
unemployment

**Question 2. (1 pt)** Sort the data in descending order by NEI, naming the sorted table `by_nei`.  

 *Check your work: The NEI value on the top line should be 10.9698.*

In [ ]:
by_nei = ...
by_nei

**Question 3. (1 pt)** Create another table called `by_nei_pter` that's sorted in descending order by NEI-PTER instead.

CHECK YOUR WORK: The NEI-PTER value on the second line should be 12.7404.

In [ ]:
by_nei_pter = ...
by_nei_pter

**Question 4. (1 pt)** Use `take` to make a table containing the data for the 10 quarters when NEI was greatest.  Call that table `greatest_nei`. 

*CHECK YOUR WORK: Your table should have 10 rows of data and the bottom row should have an NEI value of 10.4409.*

In [ ]:
greatest_nei = ...
greatest_nei

**Question 5. (1 pt)** It's believed that many people became PTER (recall: "Part-Time for Economic Reasons") in the "Great Recession" of 2008-2009.  NEI-PTER is the percentage of people who are unemployed (and counted in the NEI) plus the percentage of people who are PTER.  Compute an array `pter` containing the percentage of people who were PTER in each quarter.  (The first element of the array should correspond to the first row of `unemployment`, and so on.)

*Note:* Use the original `unemployment` table for this. CHECK YOUR WORK: your first entry should be 1.0746.

In [3]:
pter = ...
pter

Ellipsis

**Question 6. (1 pt)** Add `pter` as a column (named "PTER") to `unemployment` and sort the resulting table by that column in descending order.  Call the table `by_pter`.

Try to do this with a single line of code, if you can. CHECK YOUR WORK: The NEI in the first row should be 10.8089.

In [6]:
by_pter = ...
by_pter

Ellipsis

**Question 7. (2 pts)** Create a line plot of the PTER over time. To do this, first add the `year` array and the `pter` array to the `unemployment` table; label these columns "Year" and "PTER", respectively. Assign this new table to `pter_over_time`. Then, generate a line plot using one of the table methods you've learned in class. 

**Note:** Make sure that in your `pter_over_time` table, the "Year" column comes before the "PTER" column.

CHECK YOUR WORK: You should produce the following plot: 

<img src="Yearpter.png">

In [ ]:
year = 1994 + np.arange(by_pter.num_rows)/4
pter_over_time = ...
pter_over_time.plot( ... , ... )

**Question 8. (1 pt)** Were PTER rates high during or directly after the Great Recession (that is to say, were PTER rates particularly high in the years 2008 through 2011)? Assign highPTER to `True` if you think PTER rates were high in this period, and `False` if you think they weren't.

In [ ]:
highPTER = ...

## 2. Birth Rates

The following table gives census-based population estimates for each state on both July 1, 2015 and July 1, 2016. The last four columns describe the components of the estimated change in population during this time interval. **For all questions below, assume that the word "states" refers to all 52 rows including Puerto Rico & the District of Columbia.**

The data was taken from [here](http://www2.census.gov/programs-surveys/popest/datasets/2010-2016/national/totals/nst-est2016-alldata.csv).

If you want to read more about the different column descriptions, go [here](http://www2.census.gov/programs-surveys/popest/datasets/2010-2015/national/totals/nst-est2015-alldata.pdf)! As of February 2017, no descriptions were posted for 2010 - 2016.

In [7]:
# Don't change this cell; just run it.
pop = Table.read_table('nst-est2016-alldata.csv').where('SUMLEV', 40).select([1, 4, 12, 13, 27, 34, 62, 69])
pop = pop.relabeled('POPESTIMATE2015', '2015').relabeled('POPESTIMATE2016', '2016')
pop = pop.relabeled('BIRTHS2016', 'BIRTHS').relabeled('DEATHS2016', 'DEATHS')
pop = pop.relabeled('NETMIG2016', 'MIGRATION').relabeled('RESIDUAL2016', 'OTHER')
pop.set_format([2, 3, 4, 5, 6, 7], NumberFormatter(decimals=0))

REGION | NAME                 | 2015       | 2016       | BIRTHS  | DEATHS  | MIGRATION | OTHER
3      | Alabama              | 4,853,875  | 4,863,300  | 58,556  | 52,405  | 3,874     | -600
4      | Alaska               | 737,709    | 741,894    | 11,255  | 4,511   | -2,557    | -2
4      | Arizona              | 6,817,565  | 6,931,071  | 87,204  | 56,564  | 76,405    | 6,461
3      | Arkansas             | 2,977,853  | 2,988,248  | 37,936  | 30,581  | 3,530     | -490
4      | California           | 38,993,940 | 39,250,017 | 502,848 | 273,850 | 33,530    | -6,451
4      | Colorado             | 5,448,819  | 5,540,545  | 67,453  | 37,121  | 60,773    | 621
1      | Connecticut          | 3,584,730  | 3,576,452  | 35,848  | 30,638  | -12,822   | -666
3      | Delaware             | 944,076    | 952,065    | 10,922  | 8,945   | 5,583     | 429
3      | District of Columbia | 670,377    | 681,170    | 9,779   | 5,455   | 6,392     | 77
3      | Florida              | 20,244,914 | 20,612,439 | 222,793 | 201,485 | 325,986   | 20,231
... (42 rows omitted)

**Question 9. (1 pt)** Assign `us_birth_rate` to the total US annual birth rate during this time interval. The annual birth rate for a year-long period is the total number of births in that period as a proportion of the population size at the start of the time period.

**Hint:** Use the `.column` method on the table `pop` to get the arrays you need, and the `.sum` function on those arrays. What year corresponds to the start of the time period?

CHECK YOUR WORK: Your number should be below 1 and the fifth digit to the right of the decimal place should be a 5.

In [ ]:
us_birth_rate = ...
us_birth_rate

**Question 10. (2 pts)** Assign `movers` to the number of states for which the **absolute value** of the **annual rate of migration** was higher than 1%. The annual rate of migration for a year-long period is the net number of migrations (in and out) as a proportion of the population size at the start of the period. The `MIGRATION` column contains estimated annual net migration counts by state.

**Hint:** Use the `.column` method on the table `pop` to get the arrays you need.  You can also use the `abs` function on an entire array.  You can also use the `.where` method and the `.num_rows` method on tables.

In [ ]:
migration_rates = ...
movers = ...
movers

**Question 11. (1 pt)** Assign `west_births` to the total number of births that occurred in region 4 (the Western US). 

**Hint:** Make sure you double check the type of the values in the region column. Are they integers or strings?

CHECK YOUR WORK: The value should be slightly below 980,000.

In [ ]:
west_births = ...
west_births

**Question 12. (1 pt)** Assign `less_than_west_births` to the number of states that had a total population in 2016 that was smaller than the *total number of births in region 4 (the Western US)* during this time interval.

In [ ]:
less_than_west_births = ...
less_than_west_births

**Question 13. (1 pt)**   In the next question, you will be creating a visualization to understand the relationship between birth and death rates. The annual death rate for a year-long period is the total number of deaths in that period as a proportion of the population size at the start of the time period.

What visualization is most appropriate to see if there is an association between birth and death rates during a given time interval?

1. Line Graph
<br>
2. Scatter Plot
<br>
3. Bar Chart

Assign `visualization` below to the number corresponding to the correct visualization.

In [ ]:
visualization = ...
visualization

**Question 14. (2 pts)** In the code cell below, create a visualization that will help us determine if there is an association between birth rate and death rate during this time interval.

In [ ]:
# Generate your chart in this cell - the plot should be the only output of this cell.   

...

**Question 15. (1 pt)** `True` or `False`: There is an association between birth rate and death rate during this time interval. 

Assign `assoc` to `True` or `False` in the cell below.

In [ ]:
assoc = ... # use True or False to replace ...

## 3. Marginal Histograms

Consider the following scatter plot: ![](scatter.png)

The axes of the plot represent values of two variables: $x$ and $y$.

Suppose we have a table called `t` that has two columns in it:

- `x`: a column containing the x-values of the points in the scatter plot
- `y`: a column containing the y-values of the points in the scatter plot

Below, you are given two histograms, each of which corresponds to either column `x` or column `y`.

**Histogram A:** ![](var1.png)
**Histogram B:** ![](var2.png)

**Question 16. (1 pt)** Suppose we run `t.hist('x')`. Which histogram does this code produce? Assign `histogram_column_x` to either 1 or 2.

1. Histogram A
2. Histogram B

In [ ]:
histogram_column_x = ...

**Question 17. (2 pts)** State at least one reason why you chose the histogram from Question 16. Make sure to indicate which histogram you selected (ex: "I chose histogram A because ...").

*Write your answer here, replacing this text.*

**Question 18. (1 pt)** Suppose we run `t.hist('y')`. Which histogram does this code produce? `Assign histogram_column_y` to either 1 or 2.

1. Histogram A
2. Histogram B

In [ ]:
histogram_column_y = ...

**Question 19. (1 pt)** State at least one reason why you chose the histogram from Question 18.  Make sure to indicate which histogram you selected (ex: "I chose histogram A because ...").

*Write your answer here, replacing this text.*

## 4. Uber

Below we load tables containing 200,000 weekday Uber rides in the Manila, Philippines, and Boston, Massachusetts metropolitan areas from the [Uber Movement](https://movement.uber.com) project. The `sourceid` and `dstid` columns contain codes corresponding to start and end locations of each ride. The `hod` column contains codes corresponding to the hour of the day the ride took place. The `ride time` column contains the length of the ride, in minutes.

In [9]:
boston = Table.read_table("boston.csv")
manila = Table.read_table("manila.csv")

We can take a look at the first few rows of the tables here:

In [ ]:
print("Boston Table")
boston.show(4)
print("Manila Table")
manila.show(4)

**Question 20. (1 pt)** Produce histograms of all ride times in Boston using the given bins.

In [11]:
# Use the bins given in 'equal_bins' here...
equal_bins = np.arange(0, 120, 5)
boston.hist(... , ...)

**Question 21. (1 pt)** Now, produce histograms of all ride times in Manila using the given bins.

In [ ]:
# Use the bins given in 'equal_bins' here...
equal_bins = np.arange(0, 120, 5)
manila.hist(... , ...)

**Question 22. (2 pts)** Assign `boston_under_10` and `manila_under_10` to the percentage of rides that are less than 10 minutes in their respective metropolitan areas. Use the height variables provided below in order to compute the percentages. Your solution should only use height variables, numbers, and mathematical operations. You should not access the tables boston and manila in any way.

In [1]:
# Use these height variables in your solution below...
boston_under_5_height = 1.2
manila_under_5_height = 0.6
boston_5_to_under_10_height = 3.2
manila_5_to_under_10_height = 1.4

# Enter your code here to calculate the percentage of rides 
# that are less than 10 minutes in their respective metropolitan areas.
boston_under_10 = ...
manila_under_10 = ...

# Leave this line here.  Don't forget to run the cell.  
rides_less_than_10 = (boston_under_10, manila_under_10)

**Question 23. (1 pt)** Let's take a closer look at the distribution of ride times in Manila. In the cell below, assign `manila_median_bin` to an integer (1, 2, 3, or 4) that corresponds to the bin that contains the median time 

1: 0-15 minutes  
2: 15-40 minutes  
3: 40-60 minutes  
4: 60-80 minutes  

*Hint:* The median of a sorted list has half of the list elements to its left, and half to its right.

In [ ]:
manila_median_bin= ...
manila_median_bin

**Question 24. (1 pt)** What is the main difference between the two histograms, and what might be causing this?

**Hint:** Try thinking about external factors that may be causing the difference!

*Write your answer here, replacing this text.*

**You are done with homework 3. Congratulations!**