# <font color = "blue"> Lecture 4:  Data types and Sequences <font>

This lecture covers material in chapters 4 and 5 of our [course text](https://inferentialthinking.com/chapters/intro.html).

Typing your own code is a really important part of learning to program.    So when you see a piece of code appear in the video as you're following along, go ahead and pause the video while you type the code here for yourself in the cells provided below.  And don't forget to run each cell after you've typed it (`shift` + `return`).

In [3]:
from datascience import *
import numpy as np

## Review of Tables ##

### Review of Table Operations:

* `t.select(label)` - constructs a new table with just the specified columns.  
* `t.drop(label)` - constructs a new table in which the specified columns are omitted.
* `t.sort(label)` - constructs a new table with rows sorted by the specified column.
* `t.where(label, condition)` - constructs a new table with just the rows that match the condition.

In [3]:
nba=Table.read_table('nba_salaries.csv')

## Numbers ##

##  **Ints and Floats**

Python (and most other programming languages) has two real number types: 

* **`int`**: An integer; never has a decimal point.
* **`float`**: A real number; always includes a decimal point.  A float might be printed in scientific notation.  A Float can have the following limitations: 
    * A maximum of 15-16 decimal places.
    * Limited size (but the limit is very large)
    * Rounding can sometimes result in some errors in final decimal places

## Strings ##

A string is the data type that Python uses to represent text.

### <font color='blue'>In summary...</font>
* A string value is a snippet of text of any length
* Strings consisting of numbers can be converted to numbers
* Any value can be converted into a string

In [5]:
#Here's a practice question.  Let's assume we have the following statements:
x=3
y='4'
z='5.6'

What's the source of the error in each example?

A. `x+y`

B. `int(y+z)`

C. `str(x) + int(y)`

D. `y + float(z)`

Let's pause to work on this question before moving on.

## Types ##

In [1]:
type(2)

int

<font color = 'green'>      </font>

<font color = 'green'>      </font>

<font color = 'green'>      </font>

###  <font color='blue'> In summary...</font>
We've seen 5 types:
* `int`:  10
* `float`: -3.5
* `str`: 'Maryland'
* `builtin_function_or_method`: 'abs', 'min', 'max'...
* `Table`: nba

Remember - when we want to find the type of any value, we use the `type` function: `type(2)`, `type('crab cake')`, ...

An expression's "type" is based on its value, not how it looks. For example, if we assign the name 

x=2

then `type(x)` will return int.

## Arrays

## Columns of tables are Arrays

### <font color="blue"> In summary... </font>

An array contains a sequence of values.
* All elements of an array should have the same type
* Arithmetic is applied to each element individually
* Adding arrays adds elements (if they are of the same length); similarly for subtraction, multiplication, and division
* A column of a tabe is an array