In [ ]:
import warnings
warnings.simplefilter('ignore', FutureWarning)
from IPython.core.display import HTML
HTML('''<link href='http://fonts.googleapis.com/css?family=Lora:400,700,400i,700i' rel='stylesheet'><link href='https://fonts.googleapis.com/css?family=Lato:300,400,700,300i,400i,700i' rel='stylesheet'><link href='https://fonts.googleapis.com/css?family=Inconsolata:400' rel='stylesheet'><link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css"><style>h1, h2, h3, h4, h5 { font-family: 'Lato', sans-serif; } h5 { font-style: normal; } kbd { font-family: Lato, serif; } hr { border-width: 2px; border-color: #a9a9a9; } .cite { font-size: 85%; text-align: right; margin-top: 10px; } .note { font-family: Lora, serif; font-size: 10pt; font-weight: 400; margin-top: 0; margin-bottom: 0; } h5.prehead { font-family: Lato, serif; font-style: normal; font-size: 14pt; font-weight: 300; margin-bottom: 15px; margin-top: 30px; } h5.lesson { font-family: Lato, serif; font-weight: 400; font-size: 15pt; font-style: normal; margin-top: 0px; margin-bottom: 5px; } h1.lesson_title { font-family: Lato, serif; font-weight: 300; font-size: 32pt; line-height: 110%; color:#CD2305; margin-top: 0px; margin-bottom: 15px; } div.cell{ max-width: 1120px; margin-left: auto; margin-right: auto; } div.text_cell_render { font-family: Lora, serif; line-height: 160%; font-size: 13pt; } .rendered_html pre, .rendered_html code  { font-family: Inconsolata, monospace !important; font-size: 13pt; } div.CodeMirror, div.output_area pre, div.prompt { font-family: Inconsolata, monospace !important; font-size: 125%; } .rendered_html ul li { margin-top: 0.75em; margin-bottom: 0.75em; } .rendered_html ul li ul li { margin-top: 0.5em; margin-bottom: 0.5em; } .rred { color: #a00000; } </style> <script> MathJax.Hub.Config({ TeX: { extensions: ["AMSmath.js"] }, tex2jax: { inlineMath: [ ['$','$'], ["\\(","\\)"] ], displayMath: [ ['$$','$$'], ["\\[","\\]"] ] }, displayAlign: 'center', // Change this to 'center' to center equations. "HTML-CSS": { styles: {'.MathJax_Display': {"margin": "0.75em 0"}} } }); </script>''')

# <font color = "blue"> Lecture 4:  Data types and Sequences <font>

In [ ]:
from datascience import *
import numpy as np

# Review of Tables #

## Review of Table Operations:

* `t.select(label)` - constructs a new table with just the specified columns.  
* `t.drop(label)` - constructs a new table in which the specified columns are omitted.
* `t.sort(label)` - constructs a new table with rows sorted by the specified column.
* `t.where(label, condition)` - constructs a new table with just the rows that match the condition.

In [ ]:
nba=Table.read_table('nba_salaries.csv')

In [ ]:
nba

In [ ]:
point_guards = nba.where('POSITION', 'PG')

In [ ]:
point_guards

In [ ]:
point_guards.drop('POSITION')

In [ ]:
point_guards = point_guards.drop('POSITION')

In [ ]:
point_guards

In [ ]:
point_guards.sort(''15-'16 SALARY')

In [ ]:
point_guards.sort('TEAM')

<font color='green'> Or we could use double quotes on TEAM...</font>

In [ ]:
point_guards.sort("TEAM")

In [ ]:
point_guards.sort("'15-'16 SALARY")

In [ ]:
point_guards.sort("'15-'16 SALARY", descending=True)

In [ ]:
point_guards.sort("'15-'16 SALARY", descending=True).show()

# Numbers

##  **Ints and Floats**

Python (and most other programming languages) has two real number types: 

* **`int`**: An integer; never has a decimal point.
* **`float`**: A real number; always includes a decimal point.  A float might be printed in scientific notation.  A Float can have the following limitations: 
    * A maximum of 15-17 decimal places.
    * Limited size (but the limit is very large)
    * Rounding can sometimes result in some errors in final decimal places

In [ ]:
2 * 4

In [ ]:
30 / 5

In [ ]:
type(9.0)

In [ ]:
12345678**500

In [ ]:
0.12345678901234567890123456789

In [ ]:
0.12345678901234567890123456789 - 0.1234567890123456789012

In [ ]:
(10 ** 0.5) ** 2

In [ ]:
20 / 10

In [ ]:
int(20 / 10)

In [ ]:
int(14/5)

In [ ]:
float(3)

In [ ]:
8/5

In [ ]:
8 / 5000

In [ ]:
8 / 50000000000000000000000000000000000000000

In [ ]:
300000000000000000 * 1.6e-40

In [ ]:
y=10

In [ ]:
2y

In [ ]:
2 * y

## Strings ##

In [ ]:
'crab cake'

In [ ]:
crab cake

In [ ]:
crabcake

In [ ]:
"Aren't crab cakes delicious?"

In [ ]:
'Aren't crab cakes delicious?'

In [ ]:
"Aren't crab cakes delicious?"

In [ ]:
'Mary' + 'land' # concatenation

In [ ]:
'Mary' + ' ' + 'land'

In [ ]:
"crab"*10

In [ ]:
"\U0001F637"*10

In [ ]:
'crab' * 3.0

In [ ]:
int('8')

In [ ]:
float('9.4')

In [ ]:
int('23.0')

In [ ]:
str(6)

In [ ]:
str(2.2)

### <font color='blue'>In summary...</font>
* A string value is a snippet of text of any length
* Strings consisting of numbers can be converted to numbers
* Any value can be converted into a string

In [ ]:
#Here's a practice question.  Let's assume we have the following statements:
x=3
y='4'
z='5.6'

What's the source of the error in each example?

A. `x+y`

B. `int(y+z)`

C. `str(x) + int(y)`

D. `y + float(z)`

Pause the video and take some time to work on this question before moving on.

## Types ##

In [ ]:
type(2)

In [ ]:
x = 5
type(x)

In [ ]:
type(4.5)

In [ ]:
type('anaconda')

In [ ]:
type(nba)

In [ ]:
type(True)

In [ ]:
type(False)

In [ ]:
type(false)

In [ ]:
type(min)

###  <font color='blue'> In summary...</font>
We've seen 5 types:
* `int`:  10
* `float`: -3.5
* `str`: 'Maryland'
* `builtin_function_or_method`: 'abs', 'min', 'max'...
* `Table`: nba

Remember - when we want to find the type of any value, we use the `type` function: `type(2)`, `type('crab cake')`, ...

An expression's "type" is based on its value, not how it looks. For example, if we assign the name 

x=2

then `type(x)` will return int.

## Arrays

In [ ]:
weights = make_array(120, 95, 165, 180, 177)
weights

In [ ]:
weights*2

In [ ]:
weights/10

In [ ]:
weights+5

In [ ]:
sum(weights)

In [ ]:
A=make_array(2,4,6)
B=make_array(3,4,5)

In [ ]:
A+B

In [ ]:
A/B

In [ ]:
len(weights)

In [ ]:
sum(weights) / len(weights)

<font color = 'green'>     </font>

In [ ]:
np.average(weights)

In [ ]:
weights.mean()

In [ ]:
strings_array = make_array('snap', 'crackle', 'pop')
strings_array

In [ ]:
strings_array * 2

In [ ]:
weights.item(3)

In [ ]:
weights.item(0)

In [ ]:
strings_array.item(0)

## Columns of tables are Arrays

In [ ]:
wizards=nba.where('TEAM', 'Washington Wizards')
wizards

In [ ]:
wizards.column("'15-'16 SALARY")

In [ ]:
wizards.column("'15-'16 SALARY").mean()

In [ ]:
wizards.column("'15-'16 SALARY").max()

### <font color="blue"> In summary... </font>

An array contains a sequence of values.
* All elements of an array should have the same type
* Arithmetic is applied to each element individually
* Adding arrays adds elements (if they are of the same length); similarly for subtraction, multiplication, and division
* A column of a tabe is an array

## Ranges

In [ ]:
make_array(0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10)

In [ ]:
np.arange(11)

In [ ]:
np.arange(4)

In [ ]:
np.arange(6, 21)

In [ ]:
np.arange(0, 12,3)

In [ ]:
np.arange(0, 11, 2)

In [ ]:
np.arange(0, 1, 0.2)

In [ ]:
np.arange(0, 1, 0.2).item(4)

In [ ]:
a = np.arange(15)

In [ ]:
a

In [ ]:
a.item(4)